body,
html {
    margin: 0;
    height: 100%;
}
#canvasContainer {
    width: 400px;
    height:400px;
    margin: 20px auto;
    border: 1px solid red;
}
canvas {
    height: 400px;
    background-color: rgb(180,218,44);

    width: 400px;
}